
# The git ignore file of the project.

# It defines which of the partial project will NOT be updated
# to the git source control system.

.vscode/out/
obj/
.vs/
anura-resources/application/

# the following features are not ready, and they will be updated
# to the repository once it is completed.

anura-core/io/compression
anura-core/typography